body{
margin: 0;
padding: 0;
font: 14px/22px 'BitstreamVeraSansRoman', Verdana, sans-serif;
background: #585858;
text-align: center;
}

pre{
padding: 10px;
border: 1px solid #2a2a2a;
background: white;
font-family: monospace;
}

a{
color: #2a2a2a;
}

#header_container{
color: #efefef;
border: 1px solid #2a2a2a;
border-width: 0 0 1px 0;
}

#header{
width: 760px;
margin: 0 auto;
text-align: left;
height: 100px;
position: relative;
}

#logo{
position: absolute;
bottom: 10px; 
left: 20px;
}

#logo a{
border: 0 !important;
font-size: 50px;
}

#menu{
position: absolute;
bottom: 25px;
right: 20px;
}

#menu a{
margin: 0 10px;
}

#page_container{
background: #efefef;
}

#container{
width: 720px;
margin: 0 auto;
padding: 0 20px;
padding: 20px 0;
text-align: left;
min-height: 300px;
}

#footer_container{
border: 8px solid #2a2a2a;
border-width: 8px 0 0 0;
color: #efefef;
}

#footer{
width: 740px;
margin: 0 auto;
padding-right: 20px;
height: 40px;
line-height: 40px;
font-size: 10px;
text-align: right;
}

#header a, #footer a{
color: white;
text-decoration: none;
border: 1px dashed white;
border-width: 0 0 1px 0;
}