<p>Below is a simple example demonstrating how to insert a Gist into a page dynamically.</p>

<p>Click the links for the demo:</p>

<p><a id="link1" href="#">Insert Gist 1</a> | <a id="link2" href="#">Insert Gist 2</a> | <a id="link3" href="#">Insert Gist 3</a></p>

<script type="text/javascript">

function removeGistContainer()
  {
  var gistContainer = document.getElementById("gist_container");
  if(gistContainer) gistContainer.parentNode.removeChild(gistContainer);
  }
  
function insertGist(id)
  {
  removeGistContainer();
  var body = document.getElementsByTagName('body')[0];
  var script = document.createElement('script');
  script.type = "text/javascript";
  script.src = "http://ajax-gist.com/gist/" + id + ".js";
  alert(script.src);
  var container = document.createElement('div');
  container.id = "gist_container";
  container.appendChild(script);
  body.appendChild(container);
  }
  
function setupHandlers()
  {
  document.getElementById("link1").onclick = function(){ insertGist(407162); return false;};
  document.getElementById("link2").onclick = function(){ insertGist(407156); return false;};
  document.getElementById("link3").onclick = function(){ insertGist(407152); return false;};
  }

setupHandlers();

</script>