<p>Below is a simple example demonstrating how to insert a Gist into a page dynamically.</p>

<p>(Click the links for the demo)</p>

<p><a id="link1" href="#">Insert Gist 1</a> | <a id="link2" href="#">Insert Gist 2</a> | <a id="link3" href="#">Insert Gist 3</a></p>

<div id="example_container">

</div>

<script type="text/javascript">

function insertGist(id)
  {
  removeGistContainer();
  var example_container = document.getElementById('example_container');
  var script = document.createElement('script');
  script.type = "text/javascript";
  script.src = "http://ajax-gist.com/gist/" + id + ".js";
  var container = document.createElement('div');
  container.id = "gist_container";
  container.appendChild(script);
  example_container.appendChild(container);
  }

function removeGistContainer()
  {
  var gistContainer = document.getElementById("gist_container");
  if(gistContainer) gistContainer.parentNode.removeChild(gistContainer);
  }
  
function setupHandlers()
  {
  document.getElementById("link1").onclick = function(){ insertGist(407162); return false;};
  document.getElementById("link2").onclick = function(){ insertGist(407156); return false;};
  document.getElementById("link3").onclick = function(){ insertGist(407152); return false;};
  }

setupHandlers();

</script>