<p>Ajax-Gist is a simple web-service that acts as a proxy between your website and the GitHub Gist service to provide a translation of the Gist embed code that is AJAX friendly.</p>

<p>The normal Gist embed code uses Javascript 'document.write' commands to insert the Gist into your webpage. This is a problem when you want to insert a Gist after the page has loaded as 'document.write' will wipe out the current content of the page!</p>

<p>This service is mainly aimed at people that need to embed Gists in their application in a non-standard fashion. The service was inspired by the need to embed Gists in pages via AJAX for <a href="http://readmycode.org/">ReadMyCode.org</a></p>

<p>To use the service simply grab the Gist ID that you're after and embed it in a script tag pointing to the web-service like so:</p>

<pre>
&lt;script src="http://ajax-gist.com/gist/419993.js" type="text/javascript"&gt;&lt;/script&gt;
                                         ^ Gist ID
</pre>

<p>Check out the <a href="/examples/overview">examples page</a> to see simple demos using the service both statically and dynamically.</p>

<p>Gists accessed via this web-service are cached for 30 minutes, so if you make any changes to an existing Gist it will take 30 minutes before you see the changes.</p>