<p><strong>Usage Examples:</strong><br />
A short list of simple examples demonstrating the various use-cases for Ajax-Gist:</p>

<ul>
  <li><a href="/examples/static">Statically rendering a Gist in a page</a></li>
  <li><a href="/examples/ajax">Dynamically loading/rendering a Gist after the page has already loaded</a></li>
</ul>

<p><strong>Embed Code:</strong><br />
You can have a look at the Javascript code produced by Ajax-Gist here:</p>

<a href="http://ajax-gist.com/gist/407156.js">http://ajax-gist.com/gist/407156.js</a>

<p><strong>Error Messages:</strong><br />
If you try to link to a Gist that has been deleted you will see an error message like this:</p>

<script src="/gist/2.js" type="text/javascript"></script>

<p>If you try to link to a Gist with an incorrect ID, or an ID that has not been assigned yet you will see an error message like this:</p>

<script src="/gist/999999999.js" type="text/javascript"></script>

<p><strong>Fun Stuff</strong><br />
The first ever Gist:</p>

<script src="http://ajax-gist.com/gist/1.js" type="text/javascript"></script>

<p><strong>Note:</strong><br /> Ajax-Gist does not alter the contents of your Gists in any way. We also promise never to inject 3rd party content or code of any kind.</p>