<p>A short list of simple examples demonstrating the various use-cases for Ajax-Gist:</p>

<ul>
  <li><a href="/examples/static">Statically rendering a Gist in a page</a></li>
  <li><a href="/examples/ajax">Dynamically loading/rendering a Gist after the page has already loaded</a></li>
</ul>