<p>The gist below has been rendered on the page using a static &lt;script&gt; tag:</p>

<p>(<a href="http://github.com/aarongough/ajax-gist/blob/master/app/views/info/static.html.erb">see the source code</a>)</p>

<script src="http://ajax-gist.com/gist/407162.js" type="text/javascript"></script>