<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>AjaxGist - Easily embed GitHub Gists into your website using AJAX</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link href="/fonts/bitstream-vera-sans/stylesheet.css" rel="stylesheet" />
  </head>
  <body>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6491570-9']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <div id="header_container">  
      <div id="header">
        <h1 id="logo"><a href="/">Ajax-Gist</a></h1>
        
        <div id="menu">
          <a href="/examples/overview">Examples</a> | <a href="mailto:aaron@aarongough.com">Feedback</a>
        </div>
      </div>
    </div>
    
    <div id="page_container">
      <div id="container">
        <%= yield %>
      </div>
    </div>
    
    <div id="footer_container">
      <div id="footer">
        Service provided and maintained by <a href="http://thingsaaronmade.com/">Aaron Gough</a> | <a href="http://github.com/aarongough/ajax-gist">Source Code</a> | Feedback and bug reports to: <a href="mailto:aaron@aarongough.com">aaron@aarongough.com</a>
      </div>
    </div>
    
  </body>
</html>